@use 'src/styles/vars' as v;

.footer {
  background: linear-gradient(v.$primary-color, v.$secondary-color);
  text-align: center;
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
