@use 'src/styles/vars' as v;

.changepasswordform {
      margin: 0 v.$gutter;
  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding: v.$gutter /4;
    align-items: center;

    &__send {
      display: block;
      padding: v.$gutter /3;
      background-color: v.$secondary-color;
      border: none;
      margin-left: 10px;
      border-radius: 5px;
    }
    &__cancel {
      display: block;
      background-color: v.$red-color;
      border: none;
      font-size: 0.9rem;
      height: 1.5rem;
      border-radius: 5px;

    }
  }
}

