@use 'src/styles/vars' as v;

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  

  padding: v.$gutter, 2;
  display: flex;
  justify-content: space-evenly;
  background: v.$violet-color;
  align-items: center;

  &-title {
    display: flex;
    margin: 0 auto;
    font-size: 2em;
    font-family: v.$georama;
    color: v.$yann-color;
    font-weight: bold;
    font-style: normal;
  }
  &-logo {
    display: flex;
    width: 80px;
  }
}

.iconBurger {
  color: #fff !important;
  font-size: 1.5rem !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}

.Dropdown {
  width: 200px !important;
}
