.containerContact {
  padding-bottom: 0.1rem;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3); 
  width: 300px;
  height: 450px;
  padding: 1.4rem;
  margin: 1rem auto;
  margin-top: 8rem;
  border-bottom: 1px solid #ccc;

  h1 {
    text-align: left;
  }

  &__txt {
    padding-top: 0.1rem;
  }
  &__nursery, &__admin, &__devTeam {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    padding-bottom: 0.5rem;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
  }

  &__devTeam {
    border-bottom: none;
  }

}
