.contact__details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  position: static;
  margin-top: 30px;
  
}

.nursery__contact, .admin__contact, .dev__team {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3); 
  text-align: left;
  margin-top: 30px;
  padding: 20px;
}

.admin__contact {
  margin-top: 50px;
}

h1 {
  margin-bottom: 15px;
  font-weight: bold;
  font-style: italic;
}

p {
  margin-bottom: 15px;
}

.button__return {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #06c4ca;
}
