@use 'src/styles/vars' as v;

.parentprofile {
  
  width: 100%;
  display: flex;
  flex-direction: column;

   &__button {
     font-size: .8em;
     display: block;
     margin: v.$gutter,4 auto;
     padding: v.$gutter,3;
     background-color: v.$violet-color;
     border: none;
     color: white;
     border-radius: 5px;
     
     &:hover {
       background-color: v.$bg-color;
     }
   }


}
