@use 'src/styles/vars' as v;

.parentprofile {
  
  // width: 100%;
  // display: flex;
  // flex-direction: column;

    &__button {
      font-size: 1em;
      display: block;
      margin: v.$gutter/2 auto;
      padding: v.$gutter/2;
      background-color: v.$violet-color;
      border: none;
      color: white;
      border-radius: 5px;
     
     &:hover {
        background-color: v.$bg-color;
     }
    }
}
