.ssssssssss {
  margin-bottom: 10rem;
}

.columnTitle {
  font-weight: bold;
}

.ContentEditModal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 1000px;
  padding: 2rem;
  margin-bottom: 10rem;

  &__parent {
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    // border-right: 1px solid #ccc;
  }

  &__child {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__addChild {
      display: flex;
      margin-bottom: 2rem;
    }

    &__listChild {
      display: flex;
      padding-left: 1rem;
      flex-direction: column;
      font-size: 1.2rem;
    }
  }
}

.childName {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
