@use 'src/styles/vars' as v;


.userinfos {
  margin: 0 v.$gutter;
  & p {
    margin-top: v.$gutter /4;
  }
  &__button {
    display: block;
    margin: v.$gutter/4 auto;
    padding: v.$gutter /3;
    background-color: v.$secondary-color;
    border: none; 
  }
}
