@use 'src/styles/vars' as v;

.recaps {
  background-color: rgb(231, 231, 231);

  &__filter {
    text-align: center;

    &__input {
      border-radius: 5px;
    }
  }

  &__listing__recap {
    margin: 10px 5px;
    background-color: rgb(238, 238, 238);
    border: 1px solid v.$primary-color;
    border-radius: 5px;
    padding: 5px;

    &__mood {
     
     color: red;
     text-align: center;
     
    }

     
    }

.filter {
  text-align: center;
  margin-top: 5px;
  input {
    border-radius: 5px;
    border: 1px solid #999;
    height: 35px;
    padding-left: 15px;
  }
}

.recap {
  margin: 2rem 1rem;
  border: 1px solid v.$primary-color;
  border-radius: 5px;
  padding: 1.4rem 2rem;
  background-color: v.$bg-color-card;
}

  &__meal {
    text-align: center;
  }

  &__otherscomment {
      margin-top: 15px;
    }


  }


span {
  font-weight: bold;
  text-align: center;
}

