@use 'src/styles/vars' as v;

.contact-footer{
  margin-top: 30px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3); 
}

.adresse, .mail, .phone {
  margin-top: 10px;
}

.footer {
  background: linear-gradient(v.$primary-color, v.$secondary-color);
  text-align: center;
  position: absolute;
  bottom:0;
  width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
