@use 'src/styles/vars' as v;

.children {
  background-color: v.$primary-color;
  padding: v.$gutter;
  text-align: center;
  margin: v.$gutter;
  & h3 {
    font-size: 1.3em;
    margin-bottom: v.$gutter;
  }
  &__icons {
    text-align: center;
    display: flex;
    justify-content: space-around;

    &__icon {
      color: v.$violet-color;
    }
  }
}
