.manage{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.addAccess {
  color: #06C4CA;
  height: 70px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.addAccess:hover {
  background-color: #06C4CA;
  color: #fff;
}

.txtPlus:hover {
  color: #fff;
}

.plus circle icon {
  color: #000 !important;
}

.contentBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 770px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;

  &__searchBar {
    display: flex;
    width: 740px;
    height: 40px;
    border: 1px solid #E3E3E4;
    border-radius: 5px;
    padding-left: 10px;
    color: #aaa;
    
    &__icon {
      display: flex !important;
      align-items: center !important;
      height: 40px !important;
      padding-right: 0.8rem !important;
    }

    &__text {
      display: flex;
      align-items: center;
      width: 690px;
      border: none;
      color: grey;
      padding-left: 1rem;


      &::placeholder {
        color: #ccc;
        font-style: italic;
      }
    }
  }
}
