@use 'src/styles/vars' as v;

.comments__list {
  display: flex;
  flex-direction: column;
}

.comment {
  padding: 10px;
  border: 1px solid v.$primary-color;
  border-radius: 10px;
  margin: 10px;
}
