@use 'src/styles/vars' as v;

h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.filter {
  text-align: center;
  margin-top: 20px;
}

.filter__input {
  border-radius: 5px;
  border: 1px solid green;
}


.comments__list {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  padding-bottom: 5rem;
}

.comment {
  padding: 10px;
  border: 1px solid v.$primary-color;
  border-radius: 10px;
  margin: 0 10px;
  background-color: v.$bg-color-card;
}

.comment__date {
  font-style: italic;
}

.comment__message {
  margin-top: 5px;
}
