@use 'src/styles/vars' as v;

h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.filter {
  text-align: center;
  margin-top: 20px;

  &__input {
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid #999;
    height: 35px;
    padding-left: 15px;
  }
}

.comments__list {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  padding-bottom: 5rem;
}

.comment {
  padding: 10px;
  border: 1px solid v.$primary-color;
  border-radius: 10px;
  margin: 0 10px;
  background-color: v.$bg-color-card;
}

.comment__date {
  font-style: italic;
}

.comment__message {
  margin-top: 5px;
}
