@use 'sass:math';

$gutter: 2rem;
$bg-color: #e6c54e;
$primary-color: #83c9b6;
$secondary-color: #00c4cc;
$rose-color: #ffa4cb;
$violet-color: #8e6aa8;
$red-color: #ee5937;

$menuWidth: 250px;
$smallMenuWidth: 150px;
$small: 700px;
$gutter: 1.5rem;
$halfGutter: math.div($gutter, 2);
$color: #209CEE;
